# Production reverse proxy
{$VITE_BACKEND_HOST:localhost} {
    tls internal
    
    # Backend API
    handle /trpc* {
        reverse_proxy pong:3000 {
        }
    }
    handle /api/* {
        reverse_proxy pong:3000
    }

    # Frontend requests
    handle /* {
        reverse_proxy pong:8080
    }

    # Logging
    log {
        output stdout
        format console
    }
}