@import 'tailwindcss';

h1 {
	font-size: 2em;
	font-weight: bold;
	margin-bottom: 0.5em;
}
body {
	width: 100%;
	height: 100%;
	font-size: medium;
	font-family: Arial, sans-serif;
	color: #333;
	margin: 10;
}

a {
	color: blue;
}